@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.navbar {
  padding: 0;
  background-color: $blue-1;
  justify-content: start;

  .navbar-nav {
    height: 100%;
    flex-direction: row;
    width: 100%;
  }

  .navbar-brand {
    margin-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 1rem;
    padding-left: 1rem;
    height: 100%;
  }
  
  .navbar-brand:hover {
    background-color: $yellow-1;
  }

  .nav-link:hover {
    color: $yellow-1;
  }

  .logo {
    height: 32px;
    margin-right: 5px;
  }

  .icon {
    margin-right: 4px;
  }

  .nav-link {
    color: rgba(0,0,0,.8);
    height: 100%;
    font-size: 18px;
    padding: 0 !important;
    position: relative;

    &__tab {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }

    &__text {
      padding-right: 3px;
      display: none;
      @include respond(md) {
        display: inline;
      }
    }

    &.active {
      color: #fff;

      .nav-link__tab {      
        background-color: $gray-1;
      }

      &:hover {
        background-color: transparent;
      }
    }
  }
}