@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.main {
  padding: 30px;

  h2 {
    color: $white-1;
  }

  hr {
    border-color: $white-3;
    width: 80%;
  }
}

.sidebar {
  display: none;
  @include respond(md) {
    display: block;
  }
}