@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.media-wrapper {
  > h2 {
    color: $white-1;
    font-size: 22px;
    margin-bottom: 15px;
  }
}

.media-item {
  padding: 20px;
  background: $gray-3;
  margin-bottom: 20px;
  position: relative;
  border-radius: 10px;
  min-height: 190px;
  border: 2px solid $white-2;

  @include respond(md) {
    padding: 20px 151px 20px 20px;
  }

  &--active {
    border: 2px solid $blue-3;
    box-shadow: 0px 0px 12px 6px $blue-3;
  }

  &--complete {
    border: 2px solid $green-1;
    box-shadow: 0px 0px 12px 6px $green-1;
  }

  &__title, &__description, &__metadata {
    color: $white-1;
  }

  &__metadata {
    margin-bottom: 0;
  }

  &__top {
    display: flex;
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  &__title {
    font-size: 20px;

    a {
      color: $yellow-1;
      text-shadow: 2px 1px 8px $black-1;

      &:hover {
        text-decoration: none;
        text-shadow: none;
        color: $white-1;
      }
    }
  }

  &__details {
    padding: 0;

    @include respond(md) {
      padding: 0 20px 10px;
    }
  }

  &__description {
    margin-bottom: 0;
    font-size: 16px;
  }

  &__img {
    max-height: 170px;
    width: 128px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: -2px 2px 12px 0 $black-2;
    flex: 0 0 auto;
    display: none;

    @include respond(md) {
      display: block;
    }

    &--mobile {
      display: block;
      @include respond(md) {
        display: none;
      }
    }
  }

  .btn {
    color: $black-1;
  }

  &__buttons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: -2px 2px 12px 0 $black-2;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;

    .btn:first-of-type {
      border-top-right-radius: 6px;
    }

    .btn:last-of-type {
      border-bottom-left-radius: 6px;
    }

    .btn {
      width: 136px;
      text-align: center;
      padding-right: 32px;
      border-radius: 0;
      color: $black-1;
      position: relative;

      &:hover, &:focus {      
        box-shadow: 0px 1px 12px 0 $black-2;
        z-index: 2;
        
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 100%;
          background: rgba(255,255,255, 0.2);
        }
      }

      .icon {
        position: absolute;
        right: 5px;
      }
    }
  }

  .btn-save {
    background-color: $green-1;
  
    &:hover {
      .icon-bookmark-empty:before {
        content: "\e80c";
      }
    }
  }
  
  .btn-remove {
    background-color: $red-1;
  
    &:hover {
      .icon-trash-empty:before {
        content: "\f1f8";
      }
    }
  }
  
  .btn-complete {
    background-color: $green-1;
  
    &:hover {
      .icon-check:before {
        content: "\e812";
      }
      .icon-check-empty:before {
        content: "\e811";
      }
    }
  }
  
  .btn-active {
    background-color: $blue-3;
  
    &:hover {
      .icon-eye:before {
        content: "\e80e";
      }
      .icon-eye-off:before {
        content: "\e80d";
      }
    }
  }
  
  .btn-recommend {
    background-color: $yellow-1;
  
    &:hover {
      .icon-star:before {
        content: "\e804";
      }
    }
  }
}