html {
    background: #424242;
}

.background, 
.backdrop {
	background: #3f689c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.backdrop {
	filter: alpha(opacity=90);
	opacity: .9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.background {
	filter: blur(15px);
	-webkit-filter: blur(10px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=5);
}

.login-form-container {
    max-width: 350px;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -286px;
    background: #74a3bd;
    padding: 20px;
    color: #FFFFFF;
}

.login-form-header {
    text-align: center;
}

.login-form .input-container {
	border-bottom: 1px solid #CCCCCC;
    margin-top: 15px;
    font-size: 16px;
    color: #9e9e9e;
    padding-bottom: 5px;
    position: relative;
}
.login-form .input {
	border: 0;
    width: 310px;
    height: 38px;
    padding-left: 10px;
    border-radius: .25rem;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
    text-indent: 24px;
}
.login-form .input:focus {
    outline: none;
}
.login-form .fas {
    position: absolute;
    top: 10px;
    left: 10px;
}
.first-name .input {
	border: 0;
    width: 310px;
    height: 38px;
    text-indent: 2px;
}
.last-name .input {
	border: 0;
    width: 310px;
    height: 38px;
    text-indent: 2px;
}
#show-password {
	float: right;
    vertical-align: bottom;
    text-align: center;
    margin-top: 7px;
	cursor: pointer;
}
.login-form .forgot-password {
	float: right;
}
.login-form .rememberme-container {
	margin-top: 15px;
	padding: 0;
}
.login-form .rememberme-container input {
	margin-left: 0;
}
.login-form .rememberme span {
	vertical-align: top;
}
.login-form .button {
	margin-top: 15px;
    width: 100%;
    background: #FEC74D;
    border: 0;
    color: #FFFFFF;
    padding: 10px;
    font-size: 15px;
	cursor: pointer;
	transition: background .3s;
}
.login-form .button:hover {
	background: #1f6eb7;
}
.login-form .button:focus {
	outline: none;
}
.login-form .register {
	margin-top: 15px;
    width: 100%;
    height: 42px;
    background: #6ac174;
    border: 0;
    color: #FFFFFF;
    padding: 8px;
    font-size: 15px;
    display: block;
    text-align: center;
    border-radius: .25rem;
}
.login-form .register:hover	{
	background: #49a154;
}
.login-form i {
    background: #FFFFFF;
    padding: 11px 0px 11px 10px;
    /* height: 38px; */
}

.separator {
    margin: 20px 0;
    border-top: 1px solid #CCCCCC;
    position: relative;
}

.separator-text {
    display: block;
    position: absolute;
    top: -11px;
    left: 50%;
    margin-left: -22px;
    padding: 0px 10px;
    background: #74a3bd;
    color: #FFFFFF;
}

.socmed-login .socmed-btn {
    padding: 10px 25px;
    background: #4167b2;
    color: #FFFFFF;
    display: block;
    margin-top: 5px;
    text-align: center;
}

.socmed-login .socmed-btn:hover {
    text-decoration: none;
    background: #2f59af;
}

.socmed-login i {
    padding-right: 10px;
}

@media screen and (max-height: 600px) {
	.login-form-container {
		margin-top: 0;
		top: 10px;
	}
}

@media screen and (max-width: 400px) {
	.login-form-container {
		left: 5px;
		margin-left: 5px;
		min-width: 283px;
		right: 10px;
		margin-bottom: 10px;
		width: auto;
	}
    .login-form .input {
		width: 310px;
    }
    .first-name .input,
    .last-name .input {
        width: 310px;
    }
	.socmed-login .socmed-btn i {
		margin-right: 5px;
		width: 19px;
	}
}