@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.login-form .input {
	border: 0;
    width: 310px;
    height: 38px;
    padding-left: 10px;
    border-radius: .25rem;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
    text-indent: 24px;
}
.login-form .input:focus {
    outline: none;
}
.login-form .fas {
    position: absolute;
    top: 10px;
    left: 10px;
}
.first-name .input {
	border: 0;
    width: 310px;
    height: 38px;
    text-indent: 2px;
}
.last-name .input {
	border: 0;
    width: 310px;
    height: 38px;
    text-indent: 2px;
}

.login-form .button {
	margin-top: 15px;
    width: 100%;
    background: #FEC74D;
    border: 0;
    color: #FFFFFF;
    padding: 10px;
    font-size: 15px;
	cursor: pointer;
	transition: background .3s;
}
.login-form .button:hover {
	background: #1f6eb7;
}
.login-form .button:focus {
	outline: none;
}
.login-form .register {
	margin-top: 15px;
    width: 100%;
    height: 42px;
    background: #6ac174;
    border: 0;
    color: #FFFFFF;
    padding: 8px;
    font-size: 15px;
    display: block;
    text-align: center;
    border-radius: .25rem;
    cursor: pointer;
}
.login-form .register:hover	{
	background: #49a154;
}
.login-form i {
    background: #FFFFFF;
    padding: 11px 0px 11px 10px;
}

.warning {
    margin: 0 auto;
    text-align: center;
    color: darkred;
}