@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.post-modal {
  z-index: 2000;

  .form-group {
    margin-bottom: 0;
  }

  .btn-post {
    margin-bottom: 20px;
    width: 50%;
    background: $yellow-1;
    transform: translateX(50%);
    box-shadow: 2px 2px 12px 0 $black-3;
    transition: all 0.2s ease;

    &:hover {
      transform: translate(50%, -2px);
    }
  }

  &__title {
    color: $black-1;
    margin-bottom: 5px;
  }

  &__creator {
    color: $black-1;
    margin-bottom: 5px;
  }

  .char-count{
    color:$black-1;
    text-align: right;
  
    &__limit {
      color: $red-1;
    }
  }

  .modal-header {
    border: none;
    padding-bottom: 0;
  
    img {
      float: left;
      height: 75px;
      width: auto;
      margin-right: 15px;
    }
  }

  .modal-body {
    padding-bottom: 0;
  }
}