@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

// Accept and Decline button styling
.accept-btn-container,
.decline-btn-container {
  float: left;
  box-shadow: -2px 2px 12px 0 $black-2;
  max-width: 100px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.accept-btn-container:hover,
.decline-btn-container:hover,
.accept-btn-container:focus,
.decline-btn-container:focus {
  box-shadow: 0px 1px 12px 0 $black-2;
    z-index: 2;
}

.btn-accept {
  background-color: $green-1;

  &:hover {
    .icon-trash-empty:before {
      content: "\f1f8";
    }
  }
}

.btn-decline {
  background-color: $red-1;

  &:hover {
    .icon-trash-empty:before {
      content: "\f1f8";
    }
  }
}
