@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.sidebar {
  background-color: $gray-3;
  color: $white-1;
  min-height: calc(100vh - 43px);
  // max-height: calc(100vh - 43px);
  // height: 100%;
  // overflow-y: scroll;
  padding: 0;

  &__title {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    padding: 12px 0;
    background: $white-2;
    text-shadow: 2px 1px 8px $black-1;
  }

  &__content {
    // margin-top: 10px;
  }

  &__media-item {
    padding: 10px;
    // border: 2px solid $blue-3;
    clear: both; 

    p {
      margin-bottom: 0;
    }

    &:last-of-type {
      border-bottom: 2px solid $blue-3;
    }

    + .sidebar__media-item {
      border-top: 2px solid $blue-3;
    }
  }

  &__img {
    height: 50px;
    float: left;
    margin-right: 10px;
  }

  &__link {
    color: $yellow-1;

    &:hover {
      color: $white-1;
      text-decoration: none;
    }
  }
}