@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.feed-item-wrapper {
  margin: 0 auto 20px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.feed-item {
  padding: 15px 20px 15px;
  background: $gray-3;
  margin-bottom: 20px;
  position: relative;
  border: 2px solid $white-1;
  border-radius: 10px;
  min-height: 190px;
  max-width: 1000px;
  color: $white-1;

  &__user {
    font-size: 16px;
    margin-bottom: 5px;
    width: 100%;
    padding-right: 128px;
    line-height: 1;

    @include respond (sm) {
      font-size: 18px;
    }

    span {
      font-size: 16px;
    }
  }

  &__title {
    font-size: 18px;
    margin-bottom: 10px;

    @include respond (sm) {
      font-size: 20px;
    }

    a {
      color: $yellow-1;
      text-shadow: 2px 1px 8px $black-1;

      &:hover {
        text-decoration: none;
        text-shadow: none;
        color: $yellow-2;
      }
    }
  }

  &__details {
    padding: 0;
    flex: 1 1 auto;

    @include respond(md) {
      padding: 0 20px 10px;
    }
  }

  &__description {
    margin-bottom: 0;
    font-size: 16px;
  }

  &__img {
    max-height: 170px;
    width: 128px;
    float: left;
    margin: 0 15px 5px 0;
    box-shadow: -2px 2px 12px 0 $black-2;
  }

  &__date {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .btn {
    color: $black-1;
  }

  &__buttons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: -2px 2px 12px 0 $black-2;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;

    .btn:first-of-type {
      border-top-right-radius: 6px;
    }

    .btn {
      width: 136px;
      text-align: center;
      padding-right: 32px;
      border-radius: 0;
      color: $black-1;
      position: relative;

      &:hover, &:focus {      
        box-shadow: 0px 1px 12px 0 $black-2;
        z-index: 2;
      }

      .icon {
        position: absolute;
        right: 5px;
      }
    }
  }

  .btn-save {
    background-color: $green-1;
  
    &:hover {
      .icon-bookmark-empty:before {
        content: "\e80c";
      }
    }
  }
}