// background colors
$black: #000;
$gray-1: #202020;
$gray-2: #303030;
$gray-3: #424242;

// text colors
$white: #fff;
$white-text-secondary: rgba(#fff, 0.7);
$white-text-disabled: rgba(#fff, 0.5);

$black-text-secondary: rgba(#000, 0.8);

$red-1: red;

$blue-1: #74a3bd; // primary color
$blue-2: #1B668F;
$blue-3: #2EB1E9; //links?

$yellow-1: #FEC74D; // accent-color