// background colors
$black-1: #000;
$black-2: rgba(#000, 0.8);
$black-3: rgba(#000, 0.5);


$gray-1: #202020;
$gray-2: #303030;
$gray-3: #424242;

// text colors
$white-1: #fff;
$white-2: rgba(#fff, 0.7);
$white-3: rgba(#fff, 0.5);


$red-1: #dc3545;

$blue-1: #74a3bd; // primary color
$blue-2: #1B668F;
$blue-3: #2EB1E9; //links?
$blue-4: #007bff;

$yellow-1: #FEC74D; // accent-color
$yellow-2: #FFD370;

$green-1: #6ac174;